*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p,
span, strong, em, a, ul, li, ol,
figure, figcaption, img, div {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
}
