/*
 *     Variables
 */

$major-color: #800000;
$minor-color: #0A82CC;
$font-color: #222;

$font-stack: Helvetica, sans-serif;

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-family: $font-stack;
  font-weight: 400;
  color: $font-color;
}

h1, h2, h3, h4, h5, h6, p,
span, strong, em, a, ul, li, ol,
figure, figcaption, img, div {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
}
